.swiper-about#aboutUs
		.swiper-wrapper
			.swiper-slide(data-desc='1')
				.about-description
					.about-section__description.description
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					.about-section__description.description
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				//- +picture('img/content/sliderAbout/slider-2', 'png', 'сельское хозяйство')
				+video('video/sliderMain/video-2', autoplay, loop=true, muted)
				//- .swiper-about-lazy-preloader
			.swiper-slide(data-desc='2')
				.about-description
					.about-section__description.description
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					.about-section__description.description
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				//- +picture('img/content/sliderAbout/slider-2', 'png', 'сельское хозяйство')
				+video('video/sliderMain/video-3', autoplay, loop=true, muted)
				//- .swiper-about-lazy-preloader
			.swiper-slide(data-desc='3')
				.about-description
					.about-section__description.description
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					.about-section__description.description
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				//- +picture('img/content/sliderAbout/slider-2', 'png', 'сельское хозяйство')
				+video('video/sliderMain/video-4', autoplay, loop=true, muted)
				//- .swiper-about-lazy-preloader
			.swiper-slide(data-desc='4')
				.about-description
					.about-section__description.description
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					.about-section__description.description
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
						p.description__text.base-text
							| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				//- +picture('img/content/sliderAbout/slider-2', 'png', 'сельское хозяйство')
				+video('video/sliderMain/video-5', autoplay, loop=true, muted)
		.swiper-button-prev.swiper-about-button-prev
		.swiper-button-next.swiper-about-button-next

.swiper-aboutThumbs
	.swiper-wrapper
		.swiper-slide(data-desc='1')
			+picture('img/content/sliderAbout/thumb-1', 'png', 'сельское хозяйство')
			//- +video('video/sliderMain/video-2', autoplay='autoplay', loop='true', muted='true')
		.swiper-slide(data-desc='2')
			+picture('img/content/sliderAbout/thumb-2', 'png', 'сельское хозяйство')
			//- +video('video/sliderMain/video-3', autoplay='autoplay', loop='true', muted='true')
		.swiper-slide(data-desc='3')
			+picture('img/content/sliderAbout/thumb-3', 'png', 'сельское хозяйство')
			//- +video('video/sliderMain/video-4', autoplay='autoplay', loop='true', muted='true')
		.swiper-slide(data-desc='4')
			+picture('img/content/sliderAbout/thumb-4', 'png', 'сельское хозяйство')
			//- +video('video/sliderMain/video-5', autoplay='autoplay', loop='true', muted='true')
