section.section.education-section#education
	h2.h2 Программы обучения
	.education-section__wrapper
		.education-section__description.description
			.description__programme
				a.link.description__link.info-first(href="education-0.html")
					//- +svg('0 0 75 75', 75, 75, 'education-1')
					span.visually-hidden Перейти на программу номер 0
				p.description__text.base-text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				p.description__text.base-text
					| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
				a.link.description__link(href="eduaction-0.html") Подробнее
		.education-section__description.description
			.description__programme.image2
				.description__inner
					p.description__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.description__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					a.link.description__link.info-second(href="education-1.html")
						span.visually-hidden Перейти на программу номер 1
					a.link.description__link(href="eduaction-1.html") Подробнее
			.description__mini
				.description__programme.image3
					a.link.description__link(href="education-2.html")
						span.visually-hidden Перейти на программу номер 2
					p.description__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.description__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					a.link.description__link(href="education-2.html") Подробнее
				.description__programme.image3
					a.link.description__link(href="education-3.html")
						span.visually-hidden Перейти на программу номер 3
					p.description__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.description__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					a.link.description__link(href="education-3.html") Подробнее
				.description__programme.image3
					a.link.description__link(href="education-4.html")
						span.visually-hidden Перейти на программу номер 4
					p.description__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					p.description__text.base-text
						| Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
					a.link.description__link(href="education-4.html") Подробнее
