.swiper.swiper-main
	.swiper-wrapper.no-view
		.swiper-slide
			+picture('img/content/sliderMain/slider-1', 'jpg', 'сельское хозяйство')
			.swiper-lazy-preloader
		.swiper-slide
			+video('video/sliderMain/video-4', autoplay, loop=true, muted)
			.swiper-lazy-preloader
		.swiper-slide
			+picture('img/content/sliderMain/slider-2', 'jpg', 'сельское хозяйство')
			.swiper-lazy-preloader
		.swiper-slide
			+video('video/sliderMain/video-2', autoplay, loop=true, muted)
			.swiper-lazy-preloader
		.swiper-slide
			+video('video/sliderMain/video-3', autoplay, loop=true, muted)
			.swiper-lazy-preloader
		//- .swiper-slide
		//- 	+picture('img/content/sliderMain/slider-2', 'jpg', 'сельское хозяйство')
		//- 	.swiper-lazy-preloader
		//- .swiper-slide
		//- 	+picture('img/content/sliderMain/slider-3', 'jpg', 'сельское хозяйство')
		//- 	.swiper-lazy-preloader
		//- .swiper-slide
		//- 	+picture('img/content/sliderMain/slider-2', 'jpg', 'сельское хозяйство')
		//- 	.swiper-lazy-preloader
		//- .swiper-slide
		//- 	+video('video/sliderMain/video-2', autoplay='autoplay', loop='true', muted='true')
		//- 	.swiper-lazy-preloader
		//- .swiper-slide
		//- 	+video('video/sliderMain/video-3', autoplay='autoplay', loop='true', muted='true')
		//- 	.swiper-lazy-preloader
		//- .swiper-slide
		//- 	+video('video/sliderMain/video-4', autoplay='autoplay', loop='true', muted='true')
		//- 	.swiper-lazy-preloader
		//- .swiper-slide
		//- 	+picture('img/content/sliderMain/slider-3', 'jpg', 'сельское хозяйство')
		//- 	.swiper-lazy-preloader
	.swiper-pagination

	h1.primary-title «ЗАЩИТА РАСТЕНИЙ - основа продовольственной безопасности»
	.social
		a(href="#")
			+svg('0 0 75 75', 75, 75, 'facebook')
		a(href="#")
			+svg('0 0 75 75', 75, 75, 'youtube')
		a(href="#")
			+svg('0 0 75 75', 75, 75, 'vkontakte')
		a(href="#")
			+svg('0 0 75 75', 75, 75, 'instagram')

	.swiper-button-prev
	.swiper-button-next
	//- .swiper-scrollbar
