section.section.news-section#news
	h2.secondary-title.news-section__title Новости
	.news-section__wrapper
		.news-section__news.news
			.news__programme
				+picture('img/content/news/news-3', 'jpg', 'news')
				h3.news__title Кукурузные поля
				.news__inner
					time.news__text.base-text(datetime="2024-03-23") 23.03.24
					p.news__text.base-text
						| Поля кукурузы выращиваются в промышленных масштабах уже давно, попкорн знают все.

				a.link.news__link(href="news-1.html") Подробнее
					span.visually-hidden Перейти на программу номер 0

			.news__programme.image2
				+picture('img/content/news/news-1', 'jpg', 'news')
				h3.news__title Семена нового урожая
				.news__inner
					time.news__text.base-text(datetime="2024-03-23") 23.03.24
					p.news__text.base-text
						| О каком урожае идет речь и какие семена мы будем использовать для посадок, узнаете в нашем выпуске о семенах во вторник.
				a.link.news__link(href="news-2.html") Подробнее
					span.visually-hidden Перейти на программу номер 0

			.news__programme.image3
				+picture('img/content/news/news-2', 'jpg', 'news')
				h3.news__title Обучение посадкам
				.news__inner
					time.news__text.base-text(datetime="2024-03-23") 23.03.24
					p.news__text.base-text
						| Сажать растения и ухаживать за ними нас учили с детства наши родители и бабушки с дедушками, сохраняем и преумножаем наши традиции.
					p.news__text.base-text
						| В этой статье постараемся разобраться с огурцами и как сделать так, чтобы попочка была сладкой и вкусной. А главное полезной.
				a.link.news__link(href="news-3.html") Подробнее
					span.visually-hidden Перейти на программу номер 0

			.news__programme.image3
				+picture('img/content/news/news-4', 'jpg', 'news')
				h3.news__title Что такое корень дерева и как вырастить дерево?
				.news__inner
					time.news__text.base-text(datetime="2024-03-23") 23.03.24
					p.news__text.base-text
						| Кедр, Ольха, Липа и Дуб. Что же в них общего? Верно, они все являются деревьями. О том как распознать сколько лет дереву и как его обнимать вы узнаете в нашей статье.
					p.news__text.base-text
						| А также вы узнаете как правильно обрабатывать кору дерева от паразитов.
				a.link.news__link(href="news-4.html") Подробнее
					span.visually-hidden Перейти на программу номер 0
